[Unit]
Description=addrwatch
ConditionPathExists=/usr/bin/addrwatch

[Service]
EnvironmentFile=/etc/default/addrwatch
ExecStart=/usr/bin/addrwatch --daemon --output $STATEFILE --pid /var/run/addrwatch.pid --ratelimit $RATELIMIT $OPTS $INTERFACES
PIDFile=/var/run/addrwatch.pid
Type=forking
